body{
    font-family:montserrat;}

@media (max-width:500px){
body{
    font-size: large;
}
}
.nav-bar{
    border-bottom:2px solid black ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.nav-bar li{display: inline-block;
padding: 15px;
font-weight: 500;
}
.nav-bar li button{
    border-radius: 6px;
    border: none;
    padding: 5px 15px;
    background-color: orangered;
}
.column{
    float: left;
    width: 33.33%;
    margin-left:25px;
    font-size: large;
}
.columnn{
    float:left;
    width: 33.33%;
    margin-bottom: 80px;
}
#rent{
    border: 1px solid orangered;
    border-radius:6px ;
    font-weight: 700;
    color: orangered;
    background-color: white;
    padding: 15px 40px;
    margin-left: 40px;
    font-size: 15px;
}
#buy{
    border: 1px solid orangered;
    border-radius:6px ;
    font-weight: 700;
    background-color: orangered;
    padding: 15px 40px;
    font-size: 15px;

}
.col1{
    float: left;
    width: 50%;
    margin-left: 100px;
    font-family:Arial, Helvetica, sans-serif
}
.col1 h1{
    font-size:45px;
}
.col2{
    float: left;
    width: 40%;
    margin-top: -250px;
    margin-left: 800px;
    box-shadow:1px 5px 5px 1px rgb(185, 171, 171);
}
.row{
    float:left;
    clear:left;
}

#image1{
    width: 500px;
    height: 350px;
    margin-left:  -140px;
    padding-bottom: -50px;
    border-bottom: 2px solid white;
   
}
#mercedes{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border:5px solid none;
    background-color: orangered;
    }
    #audi{
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border:5px solid none;

    }
    #honda{
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border:5px solid none;
    
    }
    #mazda{
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border:5px solid none;
    }
    #toyota{
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border:5px solid none;
    }

#merc{float:right;}
#rcbtn1{
    border: none;
    border-radius:10px ;
    font-weight: 800;
    background-color: orangered;
    padding: 1px 30px;


}
#rcbtn{
    background-color: white;
    border-radius: 10px;
    padding: 1px 30px;
    margin: 8px;
    border: 1px solid lightgrey;
}


span{
    color: orangered;
}



.row1 {
    margin-left: 100px;
    margin-top: 80px;
    font-weight: 800;
}
    
#benz{
    width: 400px;
    height: 200px;
    
}
section{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
.container{
    display:flex;
    justify-content: start;
    margin-left: 100px;
    margin-top: 80px;
    float: left;
    clear: left;
}
.card{
    float: left;
    width: 33.333%;
    box-shadow: 5px 10px 10px 5px #aaaaaa;
    margin: 20px;
    border-radius: 10px;
    display: inline;
}
.card-image img{
    margin-top: 20px;
    background-size: cover;
    width: 100%;
    margin: 10px;
}
.image-txt{
    font-size:30px;
    font-weight: lighter;
    margin: 25px;
    
}
.get-info {
    padding: 15px 25px;
    background-color: orangered;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    margin-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 25px;

}
.row3{
    padding-top: -200px;
}
.clients{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 130px;
    padding-top: 1000px;
    margin-bottom: 30px;
}

.client-column{
    float: left;
    width: 30%;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.client-image {
    height: 300px;
    width: 100%;
    float: right;
    display: inline-block;
    margin-bottom: 30px;
    border: none;
    box-shadow: none;
}

.app-img{
    width: 200px;
    height: 100px;
    margin-bottom: 80px;
    margin-left: 20px;
    background-color: rgb(252, 242, 230);
}
.down{
    margin-top: 600px;
    text-align: center;
    background-color: rgb(252, 242, 230);
    height: 300px;
    border-radius: 15PX;
    margin-left: 140px;
    margin-right: 180px;
    box-shadow: 10px 5px 2px #888888;
    font-size: 20px;
}
.play-img{
    width: 120px;
    height: 40px;
    margin-bottom: 112px;
    margin-left: 20px;
    background-color: antiquewhite;

}
.rentalimg{
    width: 200px;
    height: 400px;
    margin-left: 800px;
    margin-top: -750px;
    margin-bottom: -20px;
}
.footer{
    float: left;
    width: 21%;
    margin-left: 25px;

}

.footer1{
    float: left;
    width: 21%;
    margin-left: 25px;}
.footer2{
    float: left;
    width: 21%;
    margin-left: 25px;
}
.footer3{
    float: left;
    width: 21%;
    margin-left: 25px;
}

.footer-row {
    margin-top: 100px;
    margin-left: 130px;
        
}
.footer-row h3{
    font-size: 20px;
}

input{
    display: list-item;
    border-radius: 6px;
    padding: 10px;
    border: 3px solid orangered;
    margin: 10px;
    
}
.submit {
    background-color: orangered;
    border: none;
    border-radius: 10px;
    width: 150px;
    padding: 10px 25px;
    margin-left: 10px;
}
.card li {
    display: inline;
    list-style: none;
}